version: '3.8'

services:
  postgres:
    image: debezium/postgres:14-alpine
    container_name: postgres_v_1
    environment:
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_PASSWORD: ${POSTGRES_V_1_PASSWORD}
    ports:
      - 5432:5432
    volumes:
      - ${BIND_MOUNT_DATA_PATH}/postgres_data/data:/var/lib/postgresql/data
  redis:
    image: redis:7.2.1-alpine
    container_name: redis_v_1_dev
    ports:
      - "6379:6379"
  meilisearch:
    image: getmeili/meilisearch:v1.3
    container_name: meilisearch_v_1_dev
    ports:
      - "7700:7700"
    environment:
      MEILI_MASTER_KEY: ${MEILISEARCH_V_1_MASTER_KEY}
    volumes:
      - ${BIND_MOUNT_DATA_PATH}/meili_data:/meili_data
  django:
    build:
      context: .
      dockerfile: ./compose/dev/django/Dockerfile
    image: django_v_1_dev:latest
    container_name: django_v_1_dev
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - 8000:8000
    environment:
      MEILISEARCH_V_1_MASTER_KEY: ${MEILISEARCH_V_1_MASTER_KEY}
      POSTGRES_V_1_PASSWORD: ${POSTGRES_V_1_PASSWORD}
      DJANGO_V_1_SECRET_KEY: ${DJANGO_V_1_SECRET_KEY}
      POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
    env_file:
      - ./compose/dev/django/.env.dev
    depends_on:
      - postgres
      - redis
      - meilisearch
  celery:
    image: django_v_1_dev:latest
    container_name: celery_v_1_dev
    entrypoint: ./compose/dev/django/celery/entrypoint.sh
    # starts a single process for Celery Workers and Celery Beat for the development of this app
    command: celery -A core worker -B --loglevel=INFO 
    volumes:
      - .:/app
    environment:
      MEILISEARCH_V_1_MASTER_KEY: ${MEILISEARCH_V_1_MASTER_KEY}
      POSTGRES_V_1_PASSWORD: ${POSTGRES_V_1_PASSWORD}
      DJANGO_V_1_SECRET_KEY: ${DJANGO_V_1_SECRET_KEY}
      POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
    env_file:
      - ./compose/dev/django/.env.dev
    depends_on:
      - postgres
      - redis
      - django
