services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-v-1-dev
    environment:
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_PASSWORD: ${POSTGRES_V_1_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    ports:
      - 5432:5432
    healthcheck:
      test: "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB_NAME}"
      interval: "10s"
      timeout: "5s"
      retries: 5
    volumes:
      - ${BIND_MOUNT_DATA_PATH}/postgres_data/data:/var/lib/postgresql/data
      - ${BIND_MOUNT_DATA_PATH}/postgres_data/dump:/tmp/dump
  redis:
    image: redis:7.2.1-alpine
    container_name: redis-v-1-dev
    ports:
      - "6379:6379"
    healthcheck:
      test: "redis-cli ping | grep PONG"
      interval: "1s"
      timeout: "3s"
      retries: 5
  meilisearch:
    image: getmeili/meilisearch:v1.5
    container_name: meilisearch-v-1-dev
    ports:
      - "7700:7700"
    environment:
      MEILI_ENV: development
      MEILI_MASTER_KEY: ${MEILISEARCH_V_1_MASTER_KEY}
    volumes:
      - ${BIND_MOUNT_DATA_PATH}/meili_data:/meili_data
  django:
    build:
      context: .
      dockerfile: ./compose/dev/django/Dockerfile
    image: django-v-1-dev:latest
    container_name: django-v-1-dev
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - 8000:8000
    environment: &env-vars
      MEILISEARCH_V_1_MASTER_KEY: ${MEILISEARCH_V_1_MASTER_KEY}
      POSTGRES_V_1_PASSWORD: ${POSTGRES_V_1_PASSWORD}
      DJANGO_V_1_SECRET_KEY: ${DJANGO_V_1_SECRET_KEY}
      POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
      POSTGRES_USER: ${POSTGRES_USER}
      GOOGLE_OAUTH_CLIENT_ID: ${GOOGLE_OAUTH_CLIENT_ID}
      GOOGLE_OAUTH_CLIENT_SECRET: ${GOOGLE_OAUTH_CLIENT_SECRET}
      CLOUDFLARE_TURNSTILE_SECRET_KEY: ${CLOUDFLARE_TURNSTILE_SECRET_KEY}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      ADMIN_URL_SEGMENT: ${ADMIN_URL_SEGMENT}
    env_file:
      - ./compose/dev/django/.env.dev
    depends_on:
      - postgres
      - redis
      - meilisearch
  celery:
    image: django-v-1-dev:latest
    container_name: celery-v-1-dev
    entrypoint: ./compose/dev/django/celery/entrypoint.sh
    # starts a single process for Celery Workers and Celery Beat for the development of this app
    command: celery -A core worker -B --loglevel=INFO 
    volumes:
      - .:/app
    environment: *env-vars
    env_file:
      - ./compose/dev/django/.env.dev
    depends_on:
      - postgres
      - redis
      - django
