name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REDIS_HOST: localhost
  REDIS_PORT: 6379
  REDIS_URL: "redis://localhost:6379"

  MEILISEARCH_DISABLED: 1
  MEILISEARCH_HOST: ""
  MEILISEARCH_PORT: ""
  MEILISEARCH_URL: ""
  MEILISEARCH_V_1_MASTER_KEY: ""
  
  POSTGRES_V_1_PASSWORD: githubactions_password
  POSTGRES_DB_NAME: githubactions_db
  POSTGRES_USER: githubactions_user
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5432

  DJANGO_V_1_SECRET_KEY: githubactions_secret_key
  
  GOOGLE_OAUTH_DISABLED: 1
  GOOGLE_OAUTH_CLIENT_ID: ""
  GOOGLE_OAUTH_CLIENT_SECRET: ""
  FRONTEND_CALLBACK_URL: ""
  
  CLOUDFLARE_TURNSTILE_DISABLED: 1
  CLOUDFLARE_TURNSTILE_SECRET_KEY: ""
  
  EMAIL_HOST: ""
  EMAIL_HOST_USER: ""
  EMAIL_HOST_PASSWORD: ""
  
  CLIENT_BASE_URL: ""
  
  ADMINS: '[{"name": "Joe", "email": "joe@githubactions.com"}]'
  
  CORS_ALLOWED_ORIGINS: ""
  ALLOWED_HOSTS: "localhost 127.0.0.1 [::1]"
  ADMIN_URL_SEGMENT: githubactions
  DEBUG: 1

jobs:
  build:

    runs-on: ubuntu-22.04

    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: githubactions_user
          POSTGRES_PASSWORD: githubactions_password
          POSTGRES_DB: githubactions_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready --health-interval 10s
          --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Migrations
      run: |
        python manage.py migrate
    - name: Run Tests
      run: |
        python manage.py test
